*{
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'blanchcaps';
    src: url('./blanch/blanch_caps-webfont.eot');
    src: url('./blanch/blanch_caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('./blanch/blanch_caps-webfont.woff2') format('woff2'),
         url('./blanch/blanch_caps-webfont.woff') format('woff'),
         url('./blanch/blanch_caps-webfont.ttf') format('truetype'),
         url('./blanch/blanch_caps-webfont.svg#blanchcaps') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	background-color: #EEE;
}

.wrapper{
	margin: 0 auto;
	width: 960px;
}

.logo{
	color: #000;
	font-family: "blanchcaps";
	font-size: 172px;
	text-align: center;
}

.content{
	margin: 0 80px;
}

.content p{
	font-size: 24px;
	font-family: "Comfortaa";
	margin-left: 10px;
}

nav{
	text-align: center;
	font-size: 72px;
	margin: 0;
	padding: 0;
}

nav ul{}
nav ul li{ 
	display: inline;
	font-family: "blanchcaps";
}

nav ul li a, nav ul li a:visited{
	display: inline-block;
	text-decoration: none;
	color: #000;
}

a:hover.ared{ color: #954932; }
a:hover.aorange{ color: #CF9717; }
a:hover.ayellow{ color: #E7D127; }
a:hover.agreen{ color: #4A8F19; }
a:hover.ablue{ color: #176B82; }
a:hover.aindigo{ color: #5B6DC8; }
a:hover.aviolet{ color: #493984; }

.red{ color: #954932; }
.orange{ color: #CF9717; }
.yellow{ color: #E7D127; }
.green{ color: #4A8F19; }
.blue{ color: #176B82; }
.indigo{ color: #5B6DC8; }
.violet{ color: #493984; }

h1,h2,h3,h4,h5,h6{
	font-family: "blanchcaps";
	margin: 20px 0;
}

h1{ font-size: 96px; }